/* ============================================
   Divider
   ============================================ */

.divider {
  margin: 0 auto;
  margin-top: var(--space-16);
  margin-bottom: var(--space-16);
  max-width: 64rem;
  /* 1024px */

  @media (width >=64rem) {
    margin-top: var(--space-24);
    margin-bottom: var(--space-24);
  }
}

.divider.large {
  margin-top: var(--space-24);
  margin-bottom: var(--space-24);

  @media (width >=64rem) {
    margin-top: var(--space-32);
    margin-bottom: var(--space-32);
  }
}

.line {
  border: none;
  border-top: 1px solid var(--color-border-default);
  opacity: 0.25;
}